				/*variables*/
            :root{
                    /*to change book dimentions, play with this 3 variables*/
                --book-thickness :30px;
                --book-height: 160px ;
                --book-width: 120px;
            
            /*to make ALL faces automatically adapt to width, height and thickness changes*/
                --half-book-thickness: calc(var(--book-thickness) / 2);
                        /*left-right faces ubication*/
                --half-book-width : calc(var(--book-width) / 2);
                --x-desplacement : calc(var(--half-book-width) - var(--half-book-thickness) );
                        /*top-bottom faces ubication*/
                --half-book-height : calc(var(--book-height) / 2);
                --y-desplacement : calc(var(--half-book-height) - var(--half-book-thickness) );	
            };
             
            /*---------------------------------------------
                        BOOK
            ---------------------------------------------*/
                            /*scene*/
            .scene{
                position: relative;
                width: 300px;
                height: 300px;
                perspective: 600px;
            }
            
            
                            /*BOOK*/
            .book{
                margin-top: 9px;
                width: var(--book-width);
                height: var(--book-height);
                position: relative;
                transform-style: preserve-3d;
                transform: translateZ(-50px) rotateX(25deg) rotateY(20deg) rotate(5deg);/* for avoid text distortion, this set the frontface on the z axis*/
            }
            
                    /*faces*/
            .book__face{
                position: absolute;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }
            .frontal{
                width: var(--book-width);
                height: var(--book-height);
            }
            .longitudinal{
                width: var(--book-thickness);
                height: var(--book-height);
                left: var(--x-desplacement); 
            }
            .transversal{
                width: var(--book-width);
                height: var(--book-thickness);
                top: var(--y-desplacement); 
            }
            
            .book__face_front{ transform: rotateY(0) translateZ(calc(var(--book-thickness)/2)); }
            .book__face_back{ transform: rotateY(180deg) translateZ(calc(var(--book-thickness)/2)) }
            .book__face_left{ transform: rotateY(90deg) translateZ(var(--half-book-width)) }
            .book__face_right{ transform: rotateY(-90deg) translateZ(var(--half-book-width)) }
            .book__face_top{ transform: rotateX(90deg) translateZ(var(--half-book-height)) }
            .book__face_bottom{transform: rotateX(-90deg) translateZ(var(--half-book-height)); }
            
            
            .book__face_right{
                background: #000;
            }


            .book__face_left
                {
                background: linear-gradient(90deg,
                                            #fff 0%  ,
                                            #000 10% ,
                                            #fff 20% ,
                                            #000 30% ,
                                            #fff 40% ,
                                            #000 50% ,
                                            #fff 60% ,			
                                            #000 70% ,
                                            #fff 80% ,
                                            #000 90% ,
                                            #fff 100%
                                                    );
            }

            .book__face_top,
            .book__face_bottom{
                background: linear-gradient(
                                            #fff 0%  ,
                                            #000 10% ,
                                            #fff 20% ,
                                            #000 30% ,
                                            #fff 40% ,
                                            #000 50% ,
                                            #fff 60% ,			
                                            #000 70% ,
                                            #fff 80% ,
                                            #000 90% ,
                                            #fff 100%
                                                    );
            }
            
            .frontal label{
                position: absolute;
                width: 105%;
                height: 100%;
                background: rgba(100,100,255,1)
            }

            .cover{
                position: absolute;
                width: 150%;
                
            }





                        /* details  */
            .showDetails{
                z-index: 100;
                animation: animate 1s linear;
                animation-fill-mode: forwards;
            }

            @keyframes animate {
                0%{
                    top: 20%;
                    left: 20%;
                    position: fixed;
                    transform: translateZ(-50px) rotateX(25deg) rotateY(20deg) rotate(5deg);
                }
                50%{
                    transform:scale(2) translateZ(-50px) rotateX(25deg) rotateY(0deg) rotate(5deg);
                }
                100%{
                    top: 30%;
                    left: 30%;
                    position: fixed;
                    transform:scale(1.5) translateZ(-50px) rotateX(25deg) rotateY(380deg) rotate(5deg);
                }
            }

            .bookInfo{
                    position: Fixed;
                    max-width: 400px;
                    top: 20%;
                    left: 50%;
                    border: 1px solid black;
                    z-index: 200;
                }
                .layer{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;
                    background: rgba(0,0,0,.5);
                }

            @media(max-width:600px) {
                .showDetails{
                    display: none;
                }

                .bookInfo{
                    position: Fixed;
                    top: 10%;
                    left: 5%;
                    width: 90%;
                    border: 1px solid black;
                    z-index: 200;
                }
            }
 
            @media(max-width:300px) {
                :root{
                    /*to change book dimentions, play with this 3 variables*/
                    --book-thickness :20px;
                    --book-height: 130px ;
                    --book-width: 100px;                
            }
        }


